meta {
  -theme-display-name: "Nova Rails";
  -theme-interface-style: dark;
  -theme-accent-color: auto;
}

meta.window {
  background-color: hsl(211, 34%, 12%);
  border-color: hsla(0, 0%, 100%, 0.15);
}
meta.titlebar {
  color: hsl(220, 17%, 76%);
  background: linear-gradient(hsl(211, 34%, 21%), hsl(211, 34%, 12%));
  background-color: hsl(211, 34%, 12%);
  border-color: hsla(0, 0%, 100%, 0.15);
}
meta.titlebar.inactive {
  background-color: hsl(211, 34%, 12%);
  border-color: hsla(0, 0%, 100%, 0.15);
}

meta.button {
  background: linear-gradient(hsl(211, 34%, 21%), hsl(211, 34%, 19%));
  border-color: hsla(0, 0%, 100%, 0.15);
  color: white;
}
meta.button.highlighted {
  background: linear-gradient(hsl(211, 34%, 27%)), hsl(211, 34%, 25%));
  color: white;
}
meta.button.selected {
  color: white;
}
meta.button.highlighted.selected {
  color: white;
}
meta.button.disabled {
  background: linear-gradient(hsl(211, 34%, 21%), hsl(211, 34%, 19%));
  border-color: hsla(0, 0%, 100%, 0.15);
  color: hsl(0, 0%, 40%);
}

meta.document {
  background-color: hsl(211, 43%, 15%);
  border-color: hsla(0, 0%, 100%, 0.15);
}

meta.text {
  color: white;
}
meta.text.invisible {
  color: hsl(207, 5%, 33%);
}
meta.text.selected {
  background-color: hsla(214, 100%, 82%, 0.2);
}

meta.cursor {
  border-color: white;
  background-color: hsl(211, 43%, 18%);
}
meta.indentguide {
  border-color: hsla(211, 24%, 40%, 0.3);
}

meta.gutter {
  background-color: hsl(211, 43%, 15%);
  border-color: hsl(211, 24%, 25%);
  color: hsl(211, 24%, 33%);
}
meta.gutter.selected {
  background-color: hsl(211, 43%, 20%);
  color: hsl(211, 24%, 49%);
}

/*
 * Syntax styles
 */

comment {
  color: hsl(204, 8%, 76%);
  font-style: italic;
}
processing {
  color: hsl(204, 8%, 76%);
  font-style: italic;
}
declaration {
  color: hsl(204, 8%, 76%);
  font-style: italic;
}

bracket {
  color: hsl(208, 10%, 72%);
}

operator {
  color: hsl(208, 10%, 72%);
}

link {
    color: hsl(125, 100%, 60%);
}

keyword {
  color: hsl(360, 97%, 63%);
}
invalid {
  background-color: red;
}

value.boolean {
  color: hsl(205, 70%, 51%);
}


value.null,
value.number {
  color: hsl(305, 63%, 67%);
}
value.entity {
  color: hsl(305, 63%, 67%);
}

value.symbol {
  color: hsl(305, 63%, 67%);
}

identifier.global {
  color: hsl(125, 100%, 60%);
}
identifier.variable {
  color: hsl(44, 100%, 60%);
}
identifier.type {
  color: hsl(205, 83%, 64%);
}
identifier.global {
  color: hsl(305, 63%, 67%);
}
identifier.function {
  color: hsl(190, 72%, 68%);
}
identifier.property {
  color: hsl(190, 72%, 68%); /* Adjusted from hsl(190, 72%, 68%) */
}
identifier.method {
  color: hsl(190, 72%, 68%);
}
identifier.key {
  color: hsl(305, 63%, 67%);
}
identifier.argument {
  color: hsl(305, 63%, 67%);
}
identifier.name {
   
}
identifier.type.superclass {
  color: hsl(44, 100%, 60%);
}

identifier.class.type.module.name {
  color: hsl(190, 72%, 68%);
}

identifier.type.superclass.module {
  color: hsl(190, 72%, 68%);
}

collection.array {
  color: hsl(190, 72%, 68%);
}

cdata {
  color: hsl(205, 83%, 64%);
}

string {
  color: hsl(44, 100%, 60%);
}
regex {
  color: hsl(44, 100%, 60%);
}

string.escaped,
regex.escaped {
  color: hsl(258, 47%, 53%);
}



string.key {
  color: hsl(305, 63%, 67%);
}
string-template {
  color: hsl(44, 100%, 70%);
}
string-template.value {
  color: hsl(44, 100%, 75%);
}
string.percent-quoted.prefix {
  color: hsl(190, 72%, 68%);
}
string.percent-quoted.delimiter {
  color: hsl(208, 10%, 72%);
}

markup.heading {
  color: hsl(205, 70%, 51%);
}
markup.line {
  color: hsl(60, 43%, 56%);
}
markup.bold {
  color: hsl(190, 83%, 71%);
  font-weight: bold;
}
markup.italic {
  color: hsl(107, 53%, 57%);
  font-style: italic;
}
markup.strikethrough {
  color: hsl(358, 97%, 63%);
}
markup.list.item {
  color: white;
}
markup.code {
  background-color: hsla(0, 0%, 50%, 0.2);
}
markup.link {
}
markup.image {
}

tag {
  color: hsl(190, 72%, 68%);
}


tag.attribute.name {
  color: hsl(205, 70%, 51%);
}
tag.attribute.value {
  color: hsl(44, 100%, 60%);
}
tag.framework {
  color: hsl(305, 63%, 67%);
}

style.attribute.name {
  color: hsl(190, 72%, 68%);
}
style.value.number {
  color: hsl(305, 63%, 67%);
}
style.string {
  color: hsl(44, 100%, 60%);
}
style.value.color.hex {
  color: hsl(305, 63%, 67%);
}
style.value.keyword,
style.value.color.named {
  color: hsl(358, 97%, 63%);
}
style.at {
  color: hsl(305, 63%, 67%);
}
